@{
    ViewData["title"] = "Error";
}


<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500 Server Error</h1>
    <p style="font-size: 50px; ">Unfortunately, something has gone wrong.</p>
    <p>We're unable to fulfill your request. Rest assured we have been notified and are looking into the issue. 
        Please refresh your browser. If the error continues, please contact our </p>
</div>